@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700');

/*********** Global Styles********/

body, html {
		background-color: #292424;
}

a {
color: hotpink;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif !important;
	font-weight: 900 !important;
}

.wrapper {
		background: #E3E3E3;
}

.img-circle {
		border-radius: 50%;
}

.my-button {
		font-size: 1em;
		line-height: normal;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out, color 0.2s 0.3s;
		letter-spacing: 0;
		border-radius: 45px;
		height: auto;
		padding: .8em 2.1em;
}

.my-button:hover {
	cursor: pointer;
	padding: .8em 2.7em;
}

.my-button:active,
.my-button:focus,
.my-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


/*** thin bar ***/

.thin-bar {
		border-bottom: 5px solid rgb(158, 5, 56);
}


/*** About Section ***/

#about {
		margin-top: 10em;
		border: 1px solid #eee;
		background-color: white;
		padding-bottom: 1em;
}

#about img {
		max-width: 15em;
		position: relative;
		bottom: 7.5em;
}

#about .details {
		margin-top: -2em;
}

#about h2 {
		color: #646464;
		font-size: 3.8em;
		padding-bottom: 1em;
}

#about span {
		font-weight: 300;
		font-size: .7em;
}

#about h5 {
		color: #8A8A8B;
}

#about p {
		margin-top: 1em;
		color: #646464;
		font-family: "roboto";
		font-weight: 300;
}

.cta .cta-button {
		color: #cc4b37;
		text-transform: uppercase;
		border: 2px solid rgba(255, 103, 68, 0.91);
		border-radius: 50px;
		background: white;
}

.cta .cta-button:hover, .cta .cta-button:focus {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
		background-color: rgba(255, 103, 68, 0.91);
		color: white;
}

#about i {
	margin-top: 2em;
}

.fa {
	font-size: 1.2em;
	padding: 0.1em 0.4em;
	color: #8a8a8a;
}

.fa:hover {
	cursor: pointer;
}

/*** Experience ***/
#experience {
	background-color: #0f5081;
	padding: 6em 4em 5.6em;
}

#experience h2 {
	color: #fff;
	margin-bottom: .7em;
}

#experience .tag-line {
	color: white;
	font-size: 1.4em;
}

#experience i {
	color: rgb(255, 138, 89);
	font-size: 4em;
}

#experience h3 {
	color: #fff;
}

.experience-topics p {
	color: #ACAEB2;
	font-family: "Maven pro", sans-serif;
	/*font-weight: 500;*/
}

.experience-topics ul li {
	list-style: none;
	color: #bbd2ff;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
}

/*** myself ***/
#myself {
	padding: 6em 4em 3em;
}

#myself h2 {
	color: #5c595e;
}

#myself .tag-line {
	color: #498f80;
	font-size: 1.4em;
}

#myself .myself-domains {
	height: 500px;
	width: auto;
	margin-top: -4em;
}





















/*** Footer Call-to-action ***/
#footer-cta {
	background-color: rgba(8, 80, 116, 0.91);
	padding: 6em 4em 5.6em;
}

#footer-cta h2 {
	color: white;
}

#footer-cta p {
	color: #fff;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
	font-size: 1.2em;
}

#startButtonDiv {
	margin-top: 3em;
}

#footer-cta a {
	border: 2px solid #fff;
	border-radius: 45px;
	color: #fff;
}

#footer-cta a:hover {
	background: #fff;
	color: rgba(5, 226, 215, 0.91);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
}

/*** footer starts ***/

#footer {
	padding: 5em 4em 2em;
}

#footer #logo {
	background-color: rgba(33, 60, 119, 0.91);
	border-radius: 50%;
	color: #fff;
	padding: .4em;
	font-family: "Maven pro", sans-serif;
	font-size: 1.6em;
	font-weight: 500;
	display: inline;
}

#footer #copyright {
	margin-top: 1.6em;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
	color: #7d7d7d;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
